<div class="well">
    Time Entry: {{input type=date value=selectedDate}}
    <select>
        {{#each tasks itemController="company" }}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
</div>
