<form class="form">
    <div class="form-group">
        Time Entry: {{input type=date value=selectedDate}}
    </div>
    <div class="form-group">
        <select>
            {{#each task in model}}
                <option value="{{task.id}}">{{task.name}}</option>
            {{/each}}
        </select>
    </div>
</form>